*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.table{
    margin-bottom: 0;
}

thead>tr>th{
    color:white;
}

tbody>tr>th{
    color: rgb(212, 212, 212);
}

.update_all{
    margin-top: 10px !important;
}

.update_all a{
    color: white !important;
}

#alert{
    cursor: pointer;
}